minecraft:

    # Fill in your server's IP address to check it,
    # or delete this section
    ip:
        - "127.0.0.1"

    # Fill in your login details to check Minecraft Realms servers,
    # or delete this section
    realms:
        username: "email@example.com"
        password: "password"

# Fill in a Slack API token and a channel name
slack:
    token: "aaaa-1111111111-22222222222-33333333333-abcdef0123"
    channel: "#general"

# Send a message when there are this many players online
threshold: 2
